const char SSID[] = "Your wifi's SSID";
const char WIFI_PASS[] = "Your wifi's password";
const char HOSTNAME[] = "Your MQTT broker's IP/hostname";
const char BOARDNAME[] = "Your board's name";
const char USERNAME[] = "Your username";
const char PASSWORD[] = "Your password";
